.content-wrapper {
  max-width: 400px;
  margin: 9rem auto 0;
  transition: margin-top 0.2s;
}

.content-wrapper.expanded {
  margin-top: 2rem;
}

header {
  button {
    border: none;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    color: white;
  }
}

footer {
  text-align: center;
  width: 100%;
}
