.search-results.expanded {
  margin: -1rem auto 1rem;
}

.search-results {
  margin: 0 auto;
  width: 96%;
  transition: height 2s;

  .result {
    border: 2px solid #dee2e6;
    button {
      display: flex;
      height: 185px;
      width: 100%;
      border: none;

      background-color: white;
      img {
        max-width: 120px;
        height: auto;
      }

      .movie-results-info {
        margin-left: 0.5rem;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        overflow: hidden;
        height: 100%;
      }
    }
  }
  .search-bar-instructions {
    text-align: center;
  }
}
