.search-results.expanded {
  margin: -1rem 0.5rem 0;
}

.search-results {
  margin: 0 0.5rem;
  transition: height 2s;
  .result:nth-child(1) {
    button {
      border-top: 2px solid black;
    }
  }
  .result {
    button {
      display: flex;
      height: 185px;
      width: 100%;
      border: none;
      border-bottom: 2px solid black;
      background-color: white;
      img {
        max-width: 120px;
        height: auto;
      }

      .movie-results-info {
        margin-left: 0.5rem;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        overflow: hidden;
        height: 100%;
      }
    }
  }
  .search-bar-instructions {
    text-align: center;
  }
}
