.single-wrapper {
  margin: 0 0.5rem;
  .movie-single {
    .single-query-title {
      font-size: 0.8rem;
      text-align: center;
    }
    .movie-single-info {
      h2 {
        text-align: center;
      }
      img {
        display: block;
        margin-bottom: 1.5rem;
        width: 100%;
        height: auto;
        border-radius: 5px;
        border: 2px white solid;
      }
      img.loading {
        width: 50%;
        height: auto;
        border: none;
        margin: 0 auto 1.5rem;
      }
    }
  }
  .dividing-line {
    border-bottom: 2px solid white;
  }
  .single-suggestion {
    text-align: center;
    .suggestion-btn {
      display: block;
      margin: 2rem auto;
      width: 18rem;
    }
    .suggestion-btn-info {
      font-size: 0.8rem;
    }
  }
}
